<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435394971804-4g6hn86snb10ocr9h4t47fviel3d0r20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435394971804-4g6hn86snb10ocr9h4t47fviel3d0r20</string>
	<key>API_KEY</key>
	<string>AIzaSyAesVBBjzHe9K0h3XxBp4vqBsDN7TewTkg</string>
	<key>GCM_SENDER_ID</key>
	<string>435394971804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntou.final-project</string>
	<key>PROJECT_ID</key>
	<string>final-project-c7579</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-c7579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435394971804:ios:759be64cdacb569b020559</string>
</dict>
</plist>